<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>提示信息 - Powered By ${systemConfig.systemName}</title>
<meta name="Author" content="JFINALSHOP Team" />
<meta name="Copyright" content="JFinalShop" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<% include("/common/include.html"){}%>
</head>
<body class="error">
	<div class="body">
		<div class="errorBox">
			<div class="errorDetail">
				<div class="errorContent">
					${errorMessages!您的操作出现错误!}
				</div>
				<div class="errorUrl">
					<%if (!isEmpty(redirectionUrl)){%>
						点击<a href="${redirectionUrl!}">确定</a>，或<a href="${base}/" onclick="window.history.back(); return false;">返回</a>
					<%}else{%>
						点击此处<a href="${base}/" onclick="window.history.back(); return false;">返回</a>或回到<a href="${base}/">首页</a>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</body>
</html>