<div class="memberMenu">
	<div class="top">
		<a href="${base}/memberCenter">会员中心首页</a>
	</div>
	<div class="middle">
		<ul>
              	<li class="order">
                  	<ul>
                      	<li><a href="${base}/shop/order/list">我的订单</a></li>
                      </ul>
                  </li>
                  <li class="category favorite">
                  	<ul>
                      	<li><a href="${base}/shop/favorite/list">商品收藏</a></li>
                      </ul>
                  </li>
                	<li class="message">
                  	<ul>
                      	<li><a href="${base}/shop/message/send">发送消息</a></li>
                          <li><a href="${base}/shop/message/inbox">收件箱</a></li>
                          <li><a href="${base}/shop/message/draftbox">草稿箱</a></li>
                          <li><a href="${base}/shop/message/outbox">发件箱</a></li>
                      </ul>
                  </li>
                  <li class="profile">
                  	<ul>
                      	<li><a href="${base}/profile/edit">个人信息</a></li>
                          <li><a href="${base}/password/edit">修改密码</a></li>
                          <li><a href="${base}/receiver/list">收货地址</a></li>
                      </ul>
                  </li>
                  <li class="deposit">
                  	<ul>
                  		<li><a href="${base}/deposit/list">我的预存款</a></li>
                      	<li><a href="${base}/deposit/recharge">预存款充值</a></li>
                      </ul>
                  </li>
              </ul>
	</div>
	<div class="bottom"></div>
</div>