<div>
	<section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-no-layout" data-am-accordion="{  }" style="padding:3px;margin:0px;">
		<!-- 商品管理  -->
		<dl class="am-accordion-item" style="margin-top:0px;">
			<dt class="am-accordion-title">商品管理</dt>
			<dd class="am-accordion-bd am-collapse">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/product/list" target="mainFrame" style="padding:0px 20px;">商品列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/product/add" target="mainFrame" style="padding:0px 20px;">添加商品</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/productCategory/list" target="mainFrame" style="padding:0px 20px;">分类列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/productCategory/add" target="mainFrame" style="padding:0px 20px;">添加分类</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/productType/list" target="mainFrame" style="padding:0px 20px;">类型列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/productAttribute/list" target="mainFrame" style="padding:0px 20px;">属性列表</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/brand/list" target="mainFrame" style="padding:0px 20px;">品牌列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/brand/add" target="mainFrame" style="padding:0px 20px;">添加品牌</a>
				</div>
				
			</dd>
		</dl>
		<!-- 订单管理 -->
		<dl class="am-accordion-item">
			<dt class="am-accordion-title">订单管理</dt>
			<dd class="am-accordion-bd am-collapse" style="height: 0px;">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/order/list" target="mainFrame" style="padding:0px 20px;">订单列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/payment/list" target="mainFrame" style="padding:0px 20px;">收款单</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/refund/list" target="mainFrame" style="padding:0px 20px;">退款单</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/shipping/list" target="mainFrame" style="padding:0px 20px;">发货单</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/reship/list" target="mainFrame" style="padding:0px 20px;">退货单</a>
				</div>				
			</dd>			
		</dl>
		<!-- 页面内容  -->
		<dl class="am-accordion-item">
			<dt class="am-accordion-title">内容管理</dt>
			<dd class="am-accordion-bd am-collapse">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/article/list" target="mainFrame" style="padding:0px 20px;">文章管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/articleCategory/list" target="mainFrame" style="padding:0px 20px;">文章分类</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/navigation/list" target="mainFrame" style="padding:0px 20px;">导航管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/friendLink/list" target="mainFrame" style="padding:0px 20px;">友情链接</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/footer/edit" target="mainFrame" style="padding:0px 20px;">网页底部信息</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/agreement/edit" target="mainFrame" style="padding:0px 20px;">会员注册协议</a>
				</div>
			</dd>			
		</dl>
		<!-- 模板管理 -->
		<dl class="am-accordion-item">
			<dt class="am-accordion-title">模板管理</dt>
			<dd class="am-accordion-bd am-collapse" style="height: 0px;">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/templateDynamic/list" target="mainFrame" style="padding:0px 20px;">动态模板管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/templateHtml/list" target="mainFrame" style="padding:0px 20px;">静态模板管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/templateMail/list" target="mainFrame" style="padding:0px 20px;">邮件模板管理</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/buildHtml/allInput" target="mainFrame" style="padding:0px 20px;">一键网站更新</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/buildHtml/articleInput" target="mainFrame" style="padding:0px 20px;">文章更新</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/buildHtml/productInput" target="mainFrame" style="padding:0px 20px;">商品更新</a>
				</div>
			</dd>			
		</dl>
		<!-- 管理员 -->
		<dl class="am-accordion-item">
			<dt class="am-accordion-title">管理员</dt>
			<dd class="am-accordion-bd am-collapse" style="height: 0px;">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/admin/list" target="mainFrame" style="padding:0px 20px;">管理员列表</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/role/list" target="mainFrame" style="padding:0px 20px;">角色管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/resource/list" target="mainFrame" style="padding:0px 20px;">资源管理</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/message/inbox" target="mainFrame" style="padding:0px 20px;">收件箱</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/message/outbox" target="mainFrame" style="padding:0px 20px;">发件箱</a>
				</div>		
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>		
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/log/list" target="mainFrame" style="padding:0px 20px;">查看日志</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/logConfig/list" target="mainFrame" style="padding:0px 20px;">日志配置</a>
				</div>	
			</dd>			
		</dl>
		<!-- 网站设置 -->
		<dl class="am-accordion-item">
			<dt class="am-accordion-title">网站设置</dt>
			<dd class="am-accordion-bd am-collapse" style="height: 0px;">
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/systemConfig/edit" target="mainFrame" style="padding:0px 20px;">系统设置</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>		
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/paymentConfig/list" target="mainFrame" style="padding:0px 20px;">支付方式</a>
				</div>
				<!-- 灰色分隔线 -->
				<hr data-am-widget="divider" style="margin: 0.5rem" class="am-divider am-divider-default"/>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/deliveryType/list" target="mainFrame" style="padding:0px 20px;">配送方式</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/area/list" target="mainFrame" style="padding:0px 20px;">地区管理</a>
				</div>
				<div class="am-accordion-content" style="padding:5px;">
					<a href="${base}/deliveryCorp/list" target="mainFrame" style="padding:0px 20px;">物流公司</a>
				</div>	
			</dd>			
		</dl>
	</section>
</div>
