<!-- 分页 -->
<ul class="pagination am-pagination" id="pager"></ul>
<input type="hidden" name="pageNumber" id="pageNumber" value="${pager.pageNumber!}" />

<script type="text/javascript" src="${base}/template/jqPaginator/jqPaginator.min.js"></script>
<link type="text/css" rel="stylesheet" href="${base}/template/jqPaginator/bootstrap.min.css"/>
<script type="text/javascript">
	var $listForm = $("#listForm");// 列表表单
	var $pageNumber = $("#pageNumber");// 当前页码
	$.jqPaginator('#pager', {
	    totalPages: ${pager.totalPage},
	    totalCounts:${pager.totalRow},
	    visiblePages: 7,
	    currentPage: ${pager.pageNumber},
	    first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
        prev: '<li class="prev"><a href="javascript:void(0);"><i class="arrow arrow2"><\/i>上一页<\/a><\/li>',
        next: '<li class="next"><a href="javascript:void(0);">下一页<i class="arrow arrow3"><\/i><\/a><\/li>',
        last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
        page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
	    onPageChange: function (num, type) {
		    if (type == 'change'){
		    	$pageNumber.val(num);
				$listForm.submit();
			}
	    }
	});    
</script>

<!-- 
参数	默认值	说明
totalPages	0	设置分页的总页数
totalCounts	0	设置分页的总条目数
pageSize	0	设置每一页的条目数
注意：要么设置totalPages，要么设置totalCounts + pageSize，否则报错；设置了totalCounts和pageSize后，会自动计算出totalPages。
currentPage	1	设置当前的页码
visiblePages	7	设置最多显示的页码数（例如有100也，当前第1页，则显示1 - 7页）
disableClass	'disabled'	设置首页，上一页，下一页，末页的“禁用状态”样式
activeClass	'active'	设置当前页码样式
first	bootstrap风格	设置“首页”的Html结构
prev	bootstrap风格	设置“上一页”的Html结构
next	bootstrap风格	设置“下一页”的Html结构
last	bootstrap风格	设置“末页”的Html结构
page	bootstrap风格	设置页码的Html结构,其中可以使用{{page}}代表当前页，{{totalPages}}代表总页数，{{totalCounts}}代表总条目数（例如：上面的“极简风格”的Demo，就是使用了{{占位符}}，并将visiblePages设为1实现的。）
注意：first、prev、next、last。page只要设置一个，其余未设置的会变为空。
wrapper	(无)	分页结构的Html包裹，例如：<div class="your class"></div>，一般不会用到
onPageChange	(无)	回调函数，当换页时触发（包括初始化第一页的时候），会传入两个参数：
1、“目标页"的页码，Number类型
2、触发类型，可能的值：“init”（初始化），“change”（点击分页）
 -->
